.detail_information_container {
    position: fixed;
    // z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;


    .detail_information {
        background-color: white;
        border-radius: 2rem;
        padding: 1.6rem;
        position: relative;

        .content{
            margin-top: 4.2rem;
        }

        .close_detail_icon {
            position: absolute;
            right: 1.6rem;
            top: 1.6rem;
            line-height: 4rem;
            width: 4rem;
            height: 4rem;
            text-align: center;
            border-radius: 0.4rem;
            border: 0.1rem solid black;
            font-size: 2rem;
            font-weight: bold;
            cursor: pointer;

            &:hover {
                background-color: var(--blue);
                color: white;
            }
        }
    }
}