.EmployeeMachineItem {
    margin-top: 4rem;
    margin-left: 4rem;

    padding: 1.2rem 1.6rem;
    box-shadow: 0 0 0.4rem 0.2rem var(--shadow);
    display: inline-block;
    border-radius: 2rem;
    font-size: 1.6rem;

    // width: 32rem;
    .box {
        border-radius: 0.8rem;
        // box-shadow: 0 0 0.4rem 0.2rem var(--shadow) inset;
        background-color: rgb(244, 243, 243);
    }

    .thong_so {
        display: flex;

        .nhiet_do_do_am {
            @extend .box;
            width: 35%;
            font-size: 2rem;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            padding: 0.4rem 0.8rem;

            .icon_thong_so {
                font-size: 2.4rem;
            }

            .color_red {
                color: var(--red);
            }

            .color_blue {
                color: var(--blue);
            }

        }

        .thong_so_phu {
            width: 65%;
            padding-left: 1.2rem;


            .thong_so {
                @extend .box;
                padding: 0.4rem 0.8rem;
                font-weight: bold;
                margin-bottom: 0.8rem;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

    }

    .thong_tin_trung {
        margin-top: 0.8rem;
        display: flex;
        justify-content: space-around;

        .item_thong_tin_trung {
            @extend .box;
            padding: 0.8rem;
        }
    }

    .thong_tin_may_ap {
        display: flex;
        justify-content: space-between;
        margin-top: 0.8rem;
        // background-color: var(--blur_gray);

        .item_thong_tin_may_ap {
            .thong_tin_dao {
                display: flex;
                justify-content: space-around;

                .button_dao_trung {
                    height: 6rem;
                    width: 6rem;
                    border-radius: 50%;
                }

                .thong_tin_dao_chi_tiet {
                    @extend .box;
                    padding: 0.4rem;
                    margin-left: 0.4rem;
                }
            }

            .binh_nuoc {
                height: 15rem;
                width: 10rem;
                overflow: hidden;
                border: 0.1rem solid var(--black);
                border-radius: 0.4rem;
                background-color: white;
                position: relative;

                .thong_tin_nuoc {
                    position: absolute;
                    top: 50%;
                    left: 1rem;
                    transform: translateY(-50%);

                    
                    p {
                        text-align: center;
                        font-size: 2rem;
                    }
                }
                
                .nuoc {
                    // background-color: rgb(212, 241, 249);
                    background-color: rgb(111, 221, 252);
                    height: 15rem;
                    width: 10rem;
                    animation: showWater 0.4s ease-out forwards;
                }
            }

            .tinh_trang_may {
                width: 10rem;
                padding: 0.4rem 0;
                text-align: center;
                margin-top: 0.4rem;
                border-radius: 0.4rem;
                position: relative;
                cursor: context-menu;

                .danh_sach_van_de {
                    display: none;
                    top: 3rem;
                    left: 5rem;
                    position: absolute;
                    background-color: white;
                    padding: 0.8rem;
                    border-radius: 0.8rem;
                    width: 20rem;
                    text-align: left;
                    border: 0.1rem solid var(--gray);
                    li{
                        list-style-type: none;
                        background-color: rgb(251, 225, 184);
                        margin-bottom: 0.4rem;
                        padding: 0.2rem;
                        border-radius: 0.4rem;
                        
                        &:last-child{
                            margin-bottom: 0;
                        }
                    }

                }
                &:hover .danh_sach_van_de{
                        display: block;
                }
            }

            .thong_tin_dao_truoc {
                @extend .box;
                margin-top: 0.8rem;
                padding: 0.8rem;
            }
        }
    }
}

@keyframes showWater {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}

.bg_red {
    background-color: var(--red);
}

.bg_green {
    background-color: var(--green);
}