.style_icon_close {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.ScheduleMachine {
    width: 40rem;
    position: fixed;
    top: 7.4rem;
    right: 0;
    bottom: 0;
    background-color: white;
    box-shadow: 0rem 0.4rem 0.4rem 0.2rem var(--gray);
    padding: 1.2rem;
    animation: showToast 0.2s ease-out;

    overflow-y: auto;


    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 6px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    &::-webkit-scrollbar-button {
        display: none;
    }

    &::-webkit-scrollbar-corner {
        background: #f1f1f1;
    }

    &::-webkit-resizer {
        background: #f1f1f1;
    }

    .close_container {
        display: flex;
        justify-content: flex-end;

        span {
            @extend .style_icon_close;
            font-size: 3rem;
            border-radius: 0.4rem;
            background-color: var(--orange);
            width: 4rem;
            height: 4rem;
            cursor: pointer;

            &:hover {
                background-color: var(--red);
            }
        }
    }

    .chon_thong_tin_trung {
        div {
            margin-top: 1.6rem;
        }

        .chon_loai_trung {
            label {
                width: 12rem;
                display: inline-block;
            }

            select {
                width: 20rem;
                padding: 0.4rem 0.8rem;

                option {
                    padding: 0 0.8rem;
                }
            }
        }

        .chon_ngay_ap {
            .ngay_ap {
                margin-top: 0.4rem;

                label {
                    display: inline-block;
                    width: 12rem;
                }

                span {
                    &:first-of-type {
                        width: 12rem;
                        display: inline-block;
                    }
                }
            }
        }

        .thong_tin_nhiet_am {
            padding-left: 12rem;

            span {
                margin-right: 0.8rem;
            }
        }
    }

    .mo_ta_trung {
        label {
            margin-top: 0.8rem;
            width: 12rem;

            &:first-of-type {
                display: inline-block;
            }

            &:last-of-type {
                display: block;
            }
        }

        input {
            width: 10rem;
        }

        textarea {
            display: block;
            width: 100%;
            height: 8rem;
            outline: none;
            resize: none;
        }
    }

    .submit_schedule {
        display: flex;
        justify-content: flex-end;
        margin-top: 1.2rem;

        .submit_schedule_btn {
            padding: 0.8rem 1.2rem;
            background-color: var(--blue);
            border-radius: 0.8rem;
            border: 0.1rem solid var(--black);
            font-size: 1.6rem;
            font-weight: bold;
            cursor: pointer;

            &:hover {
                background-color: var(--blur_blue);
            }

            &:active {
                border: none;
            }

        }
    }

    .danh_sach_dang_ap {
        margin-top: 1.6rem;

        .list_schedule {
            .schedule_item {
                margin-bottom: 1.2rem;
                list-style-type: none;
                margin-top: 0.4rem;
                box-shadow: 0 0 0.2rem 0.2rem var(--gray);
                padding: 0.8rem;
                border-radius: 0.8rem;
                position: relative;

                .delete_schedule {
                    @extend .style_icon_close;
                    position: absolute;
                    right: 2rem;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 3rem;
                    padding: 0.6rem;
                    border-radius: 0.4rem;

                    &:hover{
                        background-color: var(--red);
                    }
                }
            }
        }
    }
}

@keyframes showToast {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}